/*input:not([type='button']){
    &:not([type='submit']){
        &:not([type='reset']){

        }
    }
}*/
//
//input[type="text"],
//input[type="email"],
//input[type="url"],
//input[type="password"],
//input[type="search"],
//textarea{
//    background-color: #f7f7f7;
//    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
//    border: 1px solid rgba(0, 0, 0, 0.1);
//    border-radius: 0;
//    color: #5b5b5b;
//    padding: 7px 14px;
//    width: 100%;
//    display: block;
//    font-size: 16px;
//    line-height: 26px;
//    &:focus{
//        border-color: var(--color-primary);
//        outline: none;
//    }
//}
//
//textarea{
//    min-height: 140px;
//}

.input-row{
    margin-bottom: 20px;
    label{
        font-family: var(--font-heading);
        font-size: 18px;
        margin-bottom: 10px;
        display: block;
    }
}
